.alignleft {
	display: inline;
	float: left;
	margin-right: 1em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: var(--width-post)) {
	.alignwide {
		max-width: 100vw;
		margin-right: calc(-100vw / 2 + 100% / 2);
		margin-left: calc(-100vw / 2 + 100% / 2);
	}

	.alignfull {
		max-width: 100vw;
		margin-right: calc(-100vw / 2 + 100% / 2);
		margin-left: calc(-100vw / 2 + 100% / 2);
	}
}

@media (min-width: var(--width-site)) {
	.alignwide {
		max-width: var(--width-site);
		margin-right: -1 * (var(--width-site) - var(--width-post))/2;
		margin-left: -1 * (var(--width-site) - var(--width-post))/2;
	}

	.alignfull {
		max-width: 100vw;
		margin-right: calc(-100vw / 2 + 100% / 2);
		margin-left: calc(-100vw / 2 + 100% / 2);
	}
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}
