.alignleft {
	display: inline;
	float: left;
	margin-right: 1em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

@media (width > 926px) {

	.alignwide,
	.alignfull {
		max-width: 100%;
		margin: * auto;
	}
}

@media (width > 1282px) {

	.alignfull {
		max-width: 100vw;
		width: 100vw;
		margin-left: calc(-100vw + 100%);
		margin-right: 0;
	}
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}
