
.has-black-color {
	color: var(--color-black);
}

.has-black-background-color {
	background-color: var(--color-black);
	color: var(--color-white);
}

.has-grey-color {
	color: var(--color-grey);
}

.has-grey-background-color {
	background-color: var(--color-grey);
}

.has-light-grey-color {
	color: var(--color-light-grey);
}

.has-light-grey-background-color {
	background-color: var(--color-light-grey);
	color: var(--color-black);
}
