
.has-black-color {
	color: #2c3642;
}

.has-black-background-color {
	background-color: #2c3642;
	color: #fff;
}

.has-grey-color {
	color: #73859b;
}

.has-grey-background-color {
	background-color: #73859b;
}

.has-light-grey-color {
	color: #e5e8ed;
}

.has-light-grey-background-color {
	background-color: #e5e8ed;
}
