
@font-face {
	font-family: "Bluu Next";
	src:
		url(assets/bluunext-bold-webfont.woff2) format("woff2"),
		url(assets/bluunext-bold-webfont.woff) format("woff");
	font-weight: bold;
	font-style: normal;
}

:root {
	--color-light-grey: #e5e8ed;
	--color-grey: #73859b;
	--color-black: #2c3642;

	--width-site: 1282px;
	--width-post: 926px;
}
