.site-footer {
	margin: 6.5rem * 6.5rem;
	padding: 5rem 7.375rem;
}

.site-footer h2 {
	margin-bottom: 3rem;
	font-family: Arimo, sans-serif;
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 1.1666667;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.site-footer .wp-block-columns {
	display: grid;
	grid-template-columns: 2fr 2fr 3fr;
	grid-gap: 7.375rem;
	margin-bottom: 0;
}

.site-footer .wp-block-column {
	margin-left: 0;
}

.site-footer .wp-block-navigation ul {
	display: block;
}

.site-footer .wp-block-navigation .wp-block-navigation-link {
	display: block;
}

.site-footer .wp-block-navigation-link .wp-block-navigation-link__content {
	color: inherit;
}

@media (width < 1298px) {

	.site-footer {
		padding: 3rem 2rem;
	}
}
