
.wp-block-latest-posts.is-grid:not(.has-dates) {

	& li {
		display: flex;
		position: relative;
		overflow: hidden;
		align-items: center;
		background: var(--color-light-grey);
	}

	& li:hover img,
	& li:focus-within img {
		filter: grayscale(80%);
	}

	& a {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 300px;
		width: 100%;
		padding: 2rem;
		font-weight: bold;
		font-size: 2rem;
		line-height: 1.15625;
		text-align: center;
		text-decoration: none;
		color: var(--color-black);
		transition: all 0.2s;
	}

	& .wp-block-latest-posts__featured-image + a {
		min-height: unset;
		position: absolute 0;
		padding-top: 4rem;
		opacity: 0;
	}

	& a:hover,
	& a:focus {
		opacity: 1;
		padding-top: 2rem;
		background: rgba(229, 232, 237, 0.9);
		box-shadow: inset 2px 2px 0 var(--color-black), inset -2px -2px 0 var(--color-black);
	}
}
