.wp-block-pullquote {
	padding: 2em *;
	border-top: 4px solid #555d66;
	border-bottom: 4px solid #555d66;

	& blockquote {
		margin: 0 *;
	}
}

/* Need increased specificity to override `.entry-content > *`. */
.wp-block-pullquote.wp-block-pullquote {
	margin: 2em *;
}

.wp-block-pullquote.is-style-solid-color {
	padding: 3em;
	font-style: italic;

	& blockquote {
		max-width: 100%;
	}

	&,
	& p {
		font-size: 2.25rem;
		line-height: 1.39;
	}

	& p + p {
		margin-top: 1rem;
	}

	& cite {
		font-size: 1.375rem;
		line-height: 1.45;
	}
}
