.wp-block-quote,
.wp-block-pullquote {
	font-family: "Bluu Next", serif;
	font-weight: bold;

	&,
	& p {
		margin: 0;
		font-size: 1.5rem;
		line-height: 1.42;
	}

	& p + p {
		margin-top: 1rem;
	}

	& cite {
		display: inline-block;
		margin-top: 1.25rem;
		font-family: Arimo, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1.125rem;
		line-height: 1.167;
		color: var(--color-grey);
	}
}

.wp-block-quote.is-large {
	font-style: italic;
	padding: 0;
	margin: * auto 1em;

	&,
	& p {
		font-size: 2.25rem;
		line-height: 1.39;
	}

	& cite {
		font-size: 1.375rem;
		line-height: 1.45;
	}
}
